<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin
   id="be.chameleon.eclipse.fj"
   name="Featherweight Java IDE"
   version="0.0.1"
>
   <requires>
      <import plugin="be.chameleon.eclipse" version="1.0.6"/>
   </requires>
   <extension
         id="fj.eclipse"
         name="Featherweight Java Eclipse"
         point="chameleon.eclipse.language">
         <bootstrapper
          class="chameleon.fj2.eclipse.Bootstrapper">
         </bootstrapper>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes"> 
      <file-association 
       content-type="be.chameleon.eclipse.chameleonsource"
       file-extensions="fj"/>
   </extension> 

</plugin>
