<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         id="fj.eclipse"
         name="Featherweight Java Eclipse"
         point="chameleon.eclipse.language">
         <bootstrapper
          class="be.kuleuven.cs.distrinet.chameleon.fj2.eclipse.Bootstrapper">
         </bootstrapper>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes"> 
      <file-association 
       content-type="be.chameleon.eclipse.chameleonsource"
       file-extensions="fj"/>
   </extension> 

</plugin>
